<div class="container pt-5" data-controller="task">
    <div class="card border-0 bg-body-tertiary">
        <div class="card-body text-center">
            <h1>Tasks</h1>
        </div>
    </div>

    <div class="card border-0 bg-body-tertiary mt-5">
        <div class="card-body">
            <%= form_with model: @task do |form| %>
                <div class="row">
                    <div class="col-10">
                        <%= form.text_field :title, required: true, class: 'form-control' %>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success w-100" data-action="click->task#submit">Save</button>
                     </div>
                </div>
            <% end %>
        </div>
    </div>

    <%= turbo_stream_from "tasks" %>
    <div id="items" class="mt-5">
        <%= render partial: "task", collection: @tasks %>
    </div>
</div>
