<div class="vh-100 vw-100">
  <div class="row g-0 vh-100 d-flex justify-content-center align-items-center">
    <div class="col-10 col-xl-5 position-fixed">
      <div class="card">
        <div class="card-body text-center">
            <%= image_tag 'money.png', class: 'img-fluid', width: '400' %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-success btn-lg w-100' %>
        </div>
      </div>
    </div>
  </div>
</div>